
<script src="https://cdn.socket.io/4.5.0/socket.io.min.js"></script>


<form id="productForm" >
      <input type="text" id='title' name="title" placeholder="Titulo">
        <input type="text" id='description' name="description" placeholder="Descripcion">
        <input type="text" id='category' name="category" placeholder="Categoria">
        <input type="number" id='price' name="price" placeholder="Precio">
        <input type="text" id='status' name="status" placeholder="Status">
        <input type="text" id='thumbnail' name="thumbnail" placeholder="Imagen">
        <input type="text" id='code' name="code" placeholder="Codigo">
        <input type="number" id='stock' name="stock" placeholder="Stock">
      <button type="submit">Add Product</button>
    </form>
    <div class="productsSec">info</div>
    
    <script>
      const socket = io();
      const form = document.getElementById('productForm');
      form.addEventListener('submit', (event) => {
        event.preventDefault();
        const title = document.getElementById('title').value;
        const price = document.getElementById('price').value;
        const description = document.getElementById('description').value;
        const category = document.getElementById('category').value;
        const status = document.getElementById('status').value;
        const thumbnail = document.getElementById('thumbnail').value;
        const code = document.getElementById('code').value;
        const stock = document.getElementById('stock').value;
        const prod = { title, price,description,category,status,thumbnail,code,stock }

        if(!title || !price || !description || !category || !status || !thumbnail || !code || !stock) {
          return alert('Todos los campos son obligatorios');
        }
        else{
            socket.emit('addProduct', {title, price,description,category,status,thumbnail,code,stock,});
            console.log({prod});
            form.reset()
            };
      });

      socket.on('productAdded', (data) => {
        console.log(data);
        console.log('Producto agregado')
        const productsSec = document.querySelector('.productsSec');
        let info = '';
        data.forEach((product) => {
          info += `
          <div>
            <h2>${product.title}</h2>
            <p>${product.description}</p>
            <p>${product.category}</p>
            <p>${product.status}</p>
            <p>${product.price}</p>
            <img src="${product.thumbnail}" alt="${product.thumbnail}">
            <p>${product.code}</p>
            <p>${product.stock}</p>
          </div>
          `;
        })
        productsSec.innerHTML = info;
      });

      
    </script>

