<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" integrity="sha512-5r5IOQQvO+1MysL1HJzgxN5NtKo8OSk+onP9d0mpJrmq3vxt8KhTWfBXzUNHTwJ0m0+Q2R15bWxN7cXH1xm2JQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Super Chat</title>
</head>
<body>
    {{{body}}}
</body>
</html>